[submodule "external/nvapi"]
	path = external/nvapi
	url = https://github.com/NVIDIA/nvapi.git
[submodule "external/metal-cpp"]
	path = external/metal-cpp
	url = https://github.com/1146839821/metal-cpp.git
[submodule "include/native/directx"]
	path = include/native/directx
	url = https://github.com/misyltoad/mingw-directx-headers
